<h3>Order #<%=@order.id%> Details: </h3>
<ul>
<%@order.items.each do |item|%>
<li><%=item.product.name%> Item #: <%=item.id%>; Price: $<%=item.price%>; </li>
<%end%>
</ul>
<p>Your total order price is: $<%=@order.order_price%></p>
<a href="/orders/<%=@order.id%>/edit">Edit Order</a>
