<h3>Order #<%=@order.id%> Details: </h3>
<ul>
<%@products.each do |pr|%>
<li><%=pr.name%> - Quantity: <%=@order.order_item_count(pr.id)%>; Price: $<%=pr.price%> each; </li>
<%end%>
</ul>
<p>Your total order price is: $<%=@order.order_price%></p>
<a href="/orders/<%=@order.id%>/edit">Edit Order</a>
<br></br>
<a href="/orders/<%=@order.id%>/delete">Delete Order</a>
